node_modules
public/server/*.server.bundle.js
public/server/server.bundle.js
serve/server.bundle.js
serve/*.server.bundle.js
public/dist/bundle.*.min.js
public/dist/vendor.*.min.js
public/*.dist/bundle.*.min.js
public/*.dist/vendor.*.min.js
/.idea
